{% extends 'main_templates/base.html' %}

{% block title %}Upload Profile Photo{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h2 class="title is-2">Upload Your Profile Photo</h2>

    <div class="columns">
      <!-- Columna 1: Foto y datos personales -->
      {% include 'main_templates/partials/user_info_card.html' %}

      <!-- Columna 2: Subir foto nueva -->
      <div class="column">
        
        <form method="POST" enctype="multipart/form-data" class="box">
          {{ form.hidden_tag() }}
          
          <div class="field">
            <label class="label">{{ form.photo.label }}</label>
            <div class="control">
              {{ form.photo(class="input") }}
            </div>
            {% for error in form.photo.errors %}
              <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>
          <p class="subtitle is-6">Please upload a photo in JPG, JPEG, or PNG format.</p>
          <div class="field">
            <div class="control">
              {{ form.submit(class="button is-primary") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}