{% extends 'auth_templates/auth_base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="title is-2">Login</h2>
<form method="POST" class="box">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.email.label(class="label") }}
    <div class="control">
      {{ form.email(class="input") }}
    </div>
  </div>
  <div class="field">
    {{ form.password.label(class="label") }}
    <div class="control">
      {{ form.password(class="input") }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      {{ form.submit(class="button is-primary") }}
    </div>
  </div>
</form>
<div class="container">
  <p><a href="{{ url_for('auth.forgot_password') }}">¿Olvidó su contraseña?</a></p>
  <p><a href="{{ url_for('auth.register') }}">Crear cuenta</a></p>
</div>
<div>
  <a class="button is-info" href="{{ url_for('google_login.google_login') }}">Login with Google</a>
  <a class="button is-info" href="{{ url_for('github_login.github_login') }}">Login with GitHub</a>
  <a class="button is-info" href="{{ url_for('microsoft_login.microsoft_login') }}">Login with Microsoft</a>
</div>
{% endblock %}
