{% extends 'auth_templates/auth_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h2 class="title is-2">Register</h2>
<form method="POST" class="box">
  {{ form.hidden_tag() }}
  <div class="field">
    {{ form.username.label(class="label") }}
    <div class="control">
      {{ form.username(class="input") }}
    </div>
  </div>
  <div class="field">
    {{ form.email.label(class="label") }}
    <div class="control">
      {{ form.email(class="input") }}
    </div>
  </div>
  <div class="field">
    {{ form.password.label(class="label") }}
    <div class="control">
      {{ form.password(class="input") }}
    </div>
  </div>
  <div class="field">
    {{ form.confirm.label(class="label") }}
    <div class="control">
      {{ form.confirm(class="input") }}
    </div>
  </div>
  <div class="field">
    <div class="control">
      {{ form.submit(class="button is-primary") }}
    </div>
  </div>
</form>
<div class="container">
  <p><a href="{{ url_for('auth.forgot_password') }}">¿Olvidó su contraseña?</a></p>
  <p><a href="{{ url_for('auth.login') }}">Iniciar sesión en una cuenta existente</a></p>
</div>
{% endblock %}
