<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    {% include 'main_templates/partials/header.html' %}
    
    <div class="main-container">
      {% include 'main_templates/partials/flash_messages.html' %}

      {% block content %}
      {% endblock %}
    </div>
    
    
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
  {% include 'main_templates/partials/footer.html' %}
</html>
